<app-navbar></app-navbar>

<div class="p-4">
    <div class="container">
      <p>
        BENVENUTO NEL MIGLIOR SITO DI VIDEOGIOCHI ONLINE AL MONDO!
      </p>
    </div>
</div>

<div class="text-center mt-4">

  <pre id="taag_output_text" style="float:left;" class="fig" contenteditable="true">  ________                        __________                   __               __
  /  _____/_____    _____   ____   \______   \_______  ____    |__| ____   _____/  |_
  /   \  ___\__  \  /     \_/ __ \   |     ___/\_  __ \/  _ \   |  |/ __ \_/ ___\   __\
  \    \_\  \/ __ \|  Y Y  \  ___/   |    |     |  | \(  &lt;_&gt; )  |  \  ___/\  \___|  |
  \______  (____  /__|_|  /\___  &gt;  |____|     |__|   \____/\__|  |\___  &gt;\___  &gt;__|
          \/     \/      \/     \/                          \______|    \/     \/      </pre>
</div>


<div class="text-center mt-4">

  <p>
    GIOCHI MUTLIPIATTAFORMA!
  </p>

  <img src="./../assets/img/logos/plattaformsLogos.jpg" alt="logos" width="500" class="p-shadow-4" />

</div>

